$grey: #D7DAD6;
$black: #1A182D;
$purple: #563256;
$violet: #645C9F;
$pink: #BC90BA;
$yellow: #EED102;

%robotoc-400 {
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: 400;
}
%robotoc-500 {
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: 500;
}
%robotoc-700 {
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
}
%roboto-400 {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
}
%roboto-700 {
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
}
%pacifico-400 {
  font-family: 'Pacifico', cursive;
  font-weight: 400;
}


